<!DOCTYPE html>

  <nav>
    <ul>
        <li>{{title}}</li>
        <li ><a routerLink="/view"> View Employee</a> </li>
        <li ><a routerLink="/edit"> Edit Employee</a> </li>
        <li><a routerLink="/editTemplateDriven">Edit Employee(Template Driven)></a></li>
        <li><a routerLink="/editReactive">Edit Employee(Reactive) </a></li>
        <li><a routerLink="/quantity">Quantity Increment</a></li>
        <li><a routerLink="/editempformbuilder" routerLinkActive="active-link">Edit Employee (Form Builder)</a></li>
        <li><a routerLink="/employeelist" routerLinkActive="active-link">Employees</a></li>
        <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
      </ul>
</nav>

<hr/>


<router-outlet></router-outlet>
  



